.git
/Blueprint/
/IrisWB/application/config/base/adminparams.sqlite
/Doxyfile.bak
/IrisWB/public/css/yaml/
/IrisWB/public/demos/
/Payoff/Examples/
/IrisWB/application/log/
/IrisWB/public/Dojo/
/IrisWB/application/modules/acl/controllers/.php
/IrisWB/application/modules/db/controllers/.php
/CLI/help.sqlite
/Iris/Forms/Auto/
/IrisWB/application/data/protected/ProtectedDocument.pdf
/IrisWB/application/data/private/PrivateDocument.pdf
/IrisWB/public/documents/PublicDocument.pdf
/IrisWB/public/cookieconsent-master/
/Vendors/MarkDownG/
/Vendors/MarkdownOO/
/Vendors/Parsedown/
/Vendors/Markdown/MyMarkDown.php
/IrisWB/public/cookieconsent.css
/IrisWB/public/cookieconsent.js
/IrisWB/public/exemple.html
/IrisWB/public/test.php
/IrisWB/application/models/protect/
/ILO/css
!/ILO/css/
/Iris/Forms/Anciens/
/CLI/Myfiles/
/files
/TextFormat/
/Iris/Translation/fichiers.txt
/Iris/Translation/demo.php
/Iris/Translation/fr_FR.po
/Iris/Translation/file.php
/Iris/Translation/english.php
/Iris/Translation/fr_FR.mo
/Iris/Translation/fichier.pot
/Iris/Translation/ST.php