.git
/Blueprint/
/IrisWB/application/config/base/adminparams.sqlite
/Doxyfile.bak
/IrisWB/public/css/yaml/
/IrisWB/public/demos/
/Payoff/Examples/
/IrisWB/application/log/
/IrisWB/public/Dojo/
/IrisWB/application/modules/acl/controllers/.php
/IrisWB/application/modules/db/controllers/.php
/CLI/help.sqlite