pre.error {
  font-size: 70px; }

.log {
  background-color: #86A;
  margin: 0px 10px 0px 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px; }

.loginfo, .logdebug, .logpanic {
  color: #426;
  margin: 2px 15px 2px 15px;
  padding: 1px;
  font-size: .8em;
  border-radius: 2px; }

.loginfo {
  background-color: #5298d4; }

.logdebug {
  background-color: #DFD; }

.logpanic {
  background-color: red; }

div.testview, div.testlayout {
  text-align: center;
  font-size: .8em; }

div.testlayout {
  color: red; }

div.testview {
  color: green;
  text-align: center;
  font-size: .8em; }

div.test_explain {
  background-color: whitesmoke;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  color: #040; }

body {
  background: #4d61c7 url("../images/bg_blue.png") repeat-x top left fixed;
  padding: 10px 0; }

/*# sourceMappingURL=altcontent.css.map */
