@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.3
*/
@media screen, projection {
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
  */
  body {
    overflow-y: scroll; }

  /*-------------------------------------------------------------------------*/
  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body {
    background: #4dc7a6 url("../images/bg_green.png") repeat-x top left fixed;
    padding: 10px 0; }

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins {
    margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  .page_margins {
    width: auto;
    min-width: 800px;
    max-width: 800px;
    background-color: gray;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px 20px rgba(128, 128, 128, 0.7);
    border-radius: 7px; }

  .page {
    padding: 10px; }

  #header {
    background-color: #bfffee;
    min-width: 780px;
    border-radius: 7px; }

  #main {
    margin: 10px 0;
    background: #fff;
    background-color: #bfffee;
    color: #888;
    border-radius: 7px; }

  #footer {
    padding: 10px 20px;
    color: #666;
    background: #f9f9f9;
    border-top: 5px #efefef solid;
    font-size: 0.7em;
    border-radius: 7px; }

  /*-------------------------------------------------------------------------*/
  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
  */
  #main {
    padding: 0px 20px; }

  /*-------------------------------------------------------------------------*/
  img.logo {
    margin-left: 10px; } }

/*# sourceMappingURL=basemod.css.map */
