/*
    iris_aspect/css/iris_color.css
    color scheme for internal modules
*/
body {
    /*fall back gradient image*/
    background: #ffffb8 url(!documents/file/resource/bg/bodygrad.png) repeat-y top left fixed;
    backgrounde: ---moz-linear-gradient(top,#fffe87,#fffeb5);
    backgrounde: ---webkit-gradient(linear, left center, right center, from(#fffe87), to(#fffeb5));
    backgrounde: -linear-gradient(top,#fffe87,#fffeb5);
}

.page_margins {
    background-color: #ffe;
}
#main{
    color : #444;

}

#footer {
    color:#888;
    background-color: #ddd;
}



#header {
    background-color:#C7C68A;
}



div#header{
    background-color:#C7C68A
}

h1, h2, h3, h4, h5, h6{
    color:#008800;
}

.testlayout{
    color : red;
}
.testview{
    color : #44C;
}
