/*
    CSS for inner screen
*/
body {
    margin-left: auto; 
    text-align:center;
    background: url('/!documents/file/resource/bg/body.jpg') top left repeat-x #dfdfdf;
    margin: 0 0 0 0;
    padding: 0;
    min-height: 800px;
    margin-top:20px;
}

#main {
    background-color: #dfdfdf;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    width: 870px;
    box-shadow: 10px 10px 12px #555;
}

img {
    text-decoration: none;
    border: none;
}

a:link, a:hover, a:visited {
    text-decoration: none;
    border: none;
}

#mainLogo {
    background: transparent url('/!documents/file/resource/logos/Title80.jpg') no-repeat left;
    width: 870px;
    height: 80px;
    background-color: #C8C88A;
    background-position : 200px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}
#downloadLogo {
    background: transparent url('/!documents/file/resource/logos/Download80.jpg') no-repeat left;
    width: 870px;
    height: 95px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

#title {
    background: url('/!documents/file/resource/bg/title.jpg') no-repeat left;
    width: 870px;
    height: 60px;
    float: left;
}

#title h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
    text-align: center;
    padding-left: 20px; 
    margin-top:-5px;
    text-shadow: #808080 0.1em 0.1em 0.2em;
    color: #fff;
    border:none;
    
}

#container {
    width: 870px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-top:50px;
    /*fall back gradient image*/
    background: url(/!documents/file/resource/bg/bodygrad.png) repeat-y;
    background: -moz-linear-gradient(left,#B0DDB6,rgba(0,255,0,0));
    background: -webkit-gradient(linear, left center, right center, from(#B0DDB6), to(rgba(0,255,0,0)));
    background: linear-gradient(to right, #B0DDB6, rgba(0,255,0,0));

}




#content_panel {
    width: 585px;
    min-height: 300px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:-15px;
    height: auto;
    text-align: left;
    backgrounde: #CCF;
}

#foot {
    background: red url('/!documents/file/resource/bg/foot.jpg') no-repeat left;
    height: 65px;
    width: 870px;
    margin: 0;
    margin-top:0px;
    
}




h1{
    color:green;
    font-family: serif;
    font-size: 1.5em;
    marginz-left: 20px;
    padding-top:5px;
    border-top: solid gray 1px;
}

