/*
    IRIS-PHP
    2 column css for internal modules
*/
#col1 {
  float: left;
  width: 20%; }

#col2 {
  display: none; }

#col3 {
  width: auto;
  margin: 0 0 0 20%; }

#col1_content {
  padding: 0 10px 0 20px; }

#col3_content {
  padding: 0 20px 0 10px; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

/*# sourceMappingURL=iris31.css.map */
