/*
Reduce column width for error display
*/

.one{
    display:none;
}

.two{
    width:940px;
    margin-left:20px;
    background-color:#f0f8ff
}


.intentionalerror{
    color:white;
    background-color:#F44;
    text-align:center;
    width: 600px;
    margin:auto;
    font-size:1.2em;
    font-weight:bold;
    border: ridge #000;
    padding:10px;
}


pre{
    font-size: 0.7em;
}
div.errortrace{
    font-size: 0.7em;
}

div.errorDisplay{
    background-color: #AAA;
    color:#888;
    padding-left:20px;
    border-radius: 5px;box-shadow: 5px 5px 5px #888;
}